
<button [disabled]="!res?.next" (click)="getList(res?.next)">prossima pagina</button>
<button [disabled]="!res?.previous" (click)="getList(res?.previous)">precedente pagina</button>

<ul>
  <li 
    *ngFor="let item of res?.results" 
    (click)="clicked(item)">
    {{item.name}}
  </li>
</ul>

<button *ngIf="res?.results" (click)="next()">prossimo</button>
<button *ngIf="res?.results" (click)="prev()">precedente</button>


<div *ngIf="clickedItem">
  <div>nome: {{clickedItem.name}}</div>
  <div>peso: {{clickedItem.weight}}</div>
  <div>altezza: {{clickedItem.height}}</div>
  <ol>
    <li *ngFor="let a of clickedItem.abilities">
      {{a.ability.name}}
    </li>
  </ol>

  <img [src]="clickedItem.sprites.front_default"/>
</div>
